[submodule "variant/sqisign-v1"]
	path = variant/sqisign-v1
	url = https://github.com/DominicFox/the-sqisign.git
	branch = v1
[submodule "variant/sqisign-v2"]
	path = variant/sqisign-v2
	url = https://github.com/DominicFox/the-sqisign.git
	branch = main
[submodule "variant/sqisign-2deast"]
	path = variant/sqisign-2deast
	url = https://github.com/DominicFox/SQIsign2D-East.jl.git
[submodule "variant/sqisignhd"]
	path = variant/sqisignhd
	url = https://github.com/DominicFox/SQISignHD-lib.git
[submodule "variant/sqisign-2dwest"]
	path = variant/sqisign-2dwest
	url = https://github.com/DominicFox/sqisign2d-west-ac24.git
